/* mobile.css
*
*/
@media screen and (max-width: 320px) { 
  .mpep { width: 17em; } 
  button.more-options{
    display: block;
    position: absolute;
    top: 5px;
    right: 5%;
}
  div#chat-container {
    margin-left: 5%;
    width: 90%;
  }
  #header-options {
    margin-top: 1em;
    display: none;
  }
  li.option-item { visibility: hidden; }
  li.option-item { 
    float: right;
    display: inline-block;
  }

  ul#header-options.responsive { 
    position: fixed; 
    display: block;
    margin-left: 55%;
    z-index: 9;
  }
  ul#header-options.responsive li.option-item {
    top: 0;
    display: block;
  }
  ul#header-options.responsive li {
    float: none;
    display: inline;
    visibility: visible;
    z-index: 9;
  }
  ul#header-options.responsive li a {
    display: block;
  }

  body {
    -webkit-text-size-adjust:none;
    font-family: "Georgia, Times New Roman, Times, serif";
    padding: 2px;
    color: black;
    margin-left: 0;
    width: 100%;
  }

  .container {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }
  #m-reading-container {
    position: absolute;
    z-index: 99;
  }
  .panel-header {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .panel-paragraph {
    margin-bottom: -9%;
    padding: 0;
  }
  .service-name {
    margin-bottom: -2%;
  }

  .section-title {
    font-size: 90%;
    margin-bottom: -8%;
  }

  #reading-panel {
    margin-left: 0.1em;
    background-color: wheat;
    border: 2px solid blueviolet;
  }
  #reading-menu {
    padding-left: 4%;
    width: 300px;
  }
  #reading-menu li {
    list-style: none;
  }

  .service-readings{
    margin-top: -2%;
  }

  .passage-section {
    margin-top: -2%;
  }

  .reading-li {
    margin-top: -1%;
    margin-left: 12%;
  }
  .m-options1 ul, .m-seasons ul{
    text-align: center;
  }
  .m-options1 ul li, .m-seasons ul li{
    display: inline;
    text-decoration: none;
    padding: 0 3%;
  }

  #calendar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  #calendar td {
    border: 1px solid black;
  }
  #calendar li, #seasons li, #days_of_week li {
    display: inline;
    text-decoration: none;
  }
  #month li {
    display: inline;
    text-decoration: none;
  }
  .td_link {
    height: 2em;
    width: 100%;
  }

  .home_link {
    /* background-image: url("/images/legereme.jpg"); */
    background-repeat: no-repeat;
    color: darkred;
  }
  br {
    display: none;
  }
  p {
    margin: 2%;
  }
  .italic {
    font-style: italic;
  }
h3 {
  margin-top: 2%;
  margin-bottom: -1%;
}

.today {
  border: 2px solid black;
}
  .day_white, .day_gold {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_green {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#f6f9ea+0,8ab66b+50,398235+100 */
    background: #f6f9ea; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f6f9ea 0%, #8ab66b 50%, #398235 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f6f9ea 0%,#8ab66b 50%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f6f9ea 0%,#8ab66b 50%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9ea', endColorstr='#398235',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+1,87e0fd+1,e8f7fc+1,53cbf1+69,53cbf1+69,05abe0+100 */
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #87e0fd 1%, #87e0fd 1%, #e8f7fc 1%, #53cbf1 69%, #53cbf1 69%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #87e0fd 1%,#87e0fd 1%,#e8f7fc 1%,#53cbf1 69%,#53cbf1 69%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #87e0fd 1%,#87e0fd 1%,#e8f7fc 1%,#53cbf1 69%,#53cbf1 69%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_violet {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#f2f2f2+0,c85ec7+54,a849a3+100 */
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f2f2f2 0%, #c85ec7 54%, #a849a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f2f2f2 0%,#c85ec7 54%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f2f2f2 0%,#c85ec7 54%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_rose {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#ffd1e8+0,ef017c+100 */
    background: #ffd1e8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffd1e8 0%, #ef017c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffd1e8 0%,#ef017c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffd1e8 0%,#ef017c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd1e8', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_red {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#ffecea+0,cf0404+100 */
    background: #ffecea; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffecea 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffecea 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffecea 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffecea', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  #table-rollup {
    text-align: center;
  }
  
} /* end of @media screen and (min-device-width: 320px) and (max-device-width: 568) */

/* TABLET COMPUTERS -------------------------------- */
@media screen and (min-width: 641px) {
  #calendar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  .td_link {
    height: 3em;
    width: 100%;
  }
}
@media screen and (min-width: 961px) {
  #calendar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  .td_link {
    height: 3em;
    width: 100%;
  }
}

/*# sourceMappingURL=mobile.css.map*/