# App artifacts
/_build
/db
/deps
/*.ez
/*.DS_Store
web/elm/elm-stuff/build-artifacts
/data

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
# /priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs
/config/config.secret.exs

web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/*.elmo
priv/static/images/ic_mode_edit_black_24dp_1x.png
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/*.elmi
priv/static/js/*.map
priv/static/css/*.map
app-c70ce8894a063aa7b798b2281b7acd7c.css.gz
robots-067185ba27a5d9139b10a759679045bf.txt.gz
app.css.gz
app-a4962caa0b38e55057be5a55c5ee86d9.css.gz
priv/static/js/app.js.gz
rel
web/elm/elm-stuff/packages/z5h
priv/static/favicon-a8ca4e3a2bb8fea46a9ee9e102e7d3eb.ico
priv/static/images/bg-e7972e2f24d8af676910f28def5b1dff.png
a.out
priv/static/js/app-76e72f711d1da02c32a99a45bf8e9844.js.gz
priv/static/robots.txt.gz
priv/static/js/app-f7cc0b218ee5b14dfff668975ed2771a.js
priv/static/js/app-14ddf32613b6406a7e12f8995a76c6d5.js.gz
priv/static/js/app-14ddf32613b6406a7e12f8995a76c6d5.js
priv/static/robots-067185ba27a5d9139b10a759679045bf.txt
priv/static/images/phoenix-5bd99a0d17dd41bc9d9bf6840abcc089.png
priv/static/js/app-f7cc0b218ee5b14dfff668975ed2771a.js.gz
priv/static/css/esv-a843464081d242d4125dd1fea7068de8.css.gz
priv/static/css/esv.css.gz
priv/static/js/.DS_Store
priv/static/css/app-2e5ec257671e1ed1b938b47ed0c0fa14.css
priv/static/css/app-a4962caa0b38e55057be5a55c5ee86d9.css
priv/static/css/app-2e5ec257671e1ed1b938b47ed0c0fa14.css.gz
priv/static/css/app-c70ce8894a063aa7b798b2281b7acd7c.css
priv/static/css/esv-a843464081d242d4125dd1fea7068de8.css
priv/static/js/app-76e72f711d1da02c32a99a45bf8e9844.js
Iphod.elmo
Iphod.elmi
Helper.elmo
exact-dependencies.json
Helper.elmi
deploy

.DS_Store
priv/static/printable/
priv/static/printables/
