<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
    <!--
      if (screen.width <= 600) { window.location = "http://athomeanglican:4000/mindex"}
    //-->
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Legereme</title>
    <link rel="apple-touch-icon-precomposed" href="/priv/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="/priv/apple-touch-icon.png" />
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/mobile.css") %>" media="screen and (min-device-width: 320px) and (max-device-width: 568)" />
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>" media="screen  and (min-width: 600px)" />
    <!--[if (lt IE 9)&(!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/mobile.css") %>" />
    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  </head>

  <body>
    <div id="header">
      <a href= "/" class="home_link">Legereme</a>
    </div>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      $(function() {
        $("#datepicker").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "DD MM d, yy"
        });
      });
    </script>
  </body>
</html>
