<ul class="versicals">
  <li class="speaker">&nbsp;</li>
  <li class="says"><%= gettext "Let us bless the Lord"%></li>
</ul>
<ul class="versicals">
  <li class="speaker"><%= gettext "People"%></li>
  <li class="says"><%= gettext "Thanks be to God"%></li>
</ul>

