<br/>
<p class= "section"><%= dgettext "ep_mon", "A Collect for Peace (Monday)"%></p>
<p class= "default"><%= dgettext "ep_mon", "O God, the source of all holy desires, all good counsels, and all just
works: Give to your servants that peace which the world cannot give,
that our hearts may be set to obey your commandments, and that we,
being defended from the fear of our enemies, may pass our time in 
rest and quietness, through the merits of Jesus Christ our Savior."%>
<span class= "italic"> <%= gettext "Amen"%>.</span></p>