<p>
<ul class="versicals">
  <li class="speaker"><%= gettext "Officiant"%></li>
  <li class="says"><%= gettext "The Lord be with you."%></li>
</ul>
<ul class="versicals">
  <li class="speaker"><%= gettext "People"%></li>
  <li class="says"><%= gettext "And with your spirit."%></li>
</ul>
<ul class="versicals">
  <li class="speaker"><%= gettext "Officiant"%></li>
  <li class="says"><%= gettext "Let us pray."%></li>
</ul>
</p>