//@import "css/pure.css"
//@import "css/menu_styles.css"
//@import "css/flyoutmenu.css"
//@import "css/print.css"
//@import "css/mpep.css"
//@import "css/resource.css"
//@import "css/stations.css"

/* Set default font */
body {
  font-family: 'Garamond', serif !important;
}
body.calendar { width: 55em; }

.donation {
  background-color: honeydew;
  box-shadow: -2px 3px 8px #888888;
  border-radius: 5px;
  border: solid 2px green;
  font-style: normal;
}

#m-elm-container {
  position: relative;
  top: -3em;
  margin-left: 2em;
  width: 92%;
}

.opt {
  background-color: #e0e0e0;
  color: #300000;
}

.readings-list { width: 90%; }

#these_readings { visibility: hidden }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* HEADER.ELM menus */

.offices { /* dropdown */
  position: relative;
  display: inline-block;
  padding-bottom: 1em;
}
.offices-button{ /* dropbtn */
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background-color: white;
  border: solid 1px black;
}

.offices-options { /* dropdown-content */
  position: absolute;
  display: none;
  top: 2em;
  z-index: 9;
  padding-left: 0em;
  min-width: 12em;
  background-color: lightgrey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}
/* li.offices-item { visibility: hidden; } */
li.offices-item { 
  float: left;
  width: 84%;
}

.offices-options li{ /* dropdown-content a */
  color: black;
  padding: 0.2em 1em;
  text-decoration: none;
  display: block;
}
.offices-options li:hover { 
  background-color: #f1f1f1 
}
.offices:hover .offices-options {
  display: block;
}
.offices-options:hover .offices-button {
  background-color: #3e8e41;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

  #header-options {
    position: relative;@media screen and (max-width: 500px)
    margin-bottom: 0;
    padding-bottom: 0.5em;

    list-style-type: none;
  }
  
  li.option-item {
    display: inline;
    margin-right: 0.5em;
  }

  li.option-item button {
    box-shadow: -2px 3px 8px #888888;
    border-radius: 5px;
    border: solid 2px darkred;
    background-color: darkred;
    color: honeydew;
  }

/* Responsive: Portrait tablets and up */
  
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .pagination {
    width: 100%;
    text-align: left;
  }
  .pagination td{
    padding: 0px 10px 0px 10px;
  }
  
  #header {
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: 0em 0em;
    margin-bottom: 0.1em;
    line-height: 50px;
  }

  #menu1 {
    z-index: 201;
  }
  #datepicker {}
  #datepicker_div {
    position: relative; 
    z-index:1;
    text-align: center;
    margin-bottom: 15px;
    padding: 3px 0;
  }
  #date_nav div {
    text-align: center;
    z-index: 99;
  }
  .current_date {
    color: darkblue;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    width: 17em;
  }
  
  #menu2 {
    margin-top: -0.9em;
  }
  
  button.delete {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  
  button {
    outline: none;
    font-size: 0.8em;
    cursor: pointer;
  }
  button.quick-options {
    box-shadow: -2px 3px 8px #888888;
    border-radius: 5px;
    border: solid 2px darkred;
    background-color: darkred;
    color: honeydew;

  }
  .collect-button {
    position: relative;
    top: -1em;
  }
  
  .collect_hide{
    position: relative;
    margin-left: 0em;
  }
  
  .collect_instruction {
    font-size: 0.8em;
    font-style: italic;
    color: red;
    margin-bottom: 1em;
  }
  
  .collect_title {
    margin-bottom: -1em;
    margin-top: 0em;
    font-variant: small-caps;
  }
  
  .collect_text {
    padding: 0 2em;
  }
  
  .proper_title {
    margin-top: 0em;
    color: darkred;
    font-variant: small-caps;
    font-weight: bold;
  }
  
  .proper_text {
    padding: 0 1em;
    margin-top: -1em;
  }

  .period { display: hide; }
      
  .translationButton {
    font-size: 0.8em;
    margin-right: 1em;
  }
  
  .config {
    height: 2em;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    color: black;
  }
  
  .pdescription {
    width: 40%;
    padding: 0 0.5em;
    font-size: 0.9em;
  }
  .pform {
    width: 20%;
    padding: 0 0.5em;
    font-size: 0.9em;
  }
  .pformat {
    width: 5%;
    padding: 0 0.5em;
    font-size: 0.9em;
  }
  .pname {
    width: 25%;
    padding: 0 0.5em;
    font-size: 0.9em;
  }
  .pdownload {
    width: 5%;
    padding: 0 0.5em;
    font-size: 0.9em;
    color: #333333;
    background-color: #EEEEEE;
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .pdownload a {
    text-decoration: none;
  }
  .versions {
    font-size: 0.8em;
    text-align: left;
    width: 98%;
    margin-left: 1em;
  }
  .ver_abbr { width: 5%; }
  .ver_name { width: 65%; }
  .ver_lang { width: 20%; }
  .ver_use { width: 5%; }
  
  
  .day_of_month{
    margin: 0;
  }
  
  .day_of_month button {
    font-size: 1em;
    font-weight: bold;
    vertical-align: center;
    margin: 2px;
  
  }
  
  .day_options {
    position: relative;
    margin-bottom: 0;
  }
  
  
  .reading_group {
    display: inline;
  }
  
  #calendar td {
    border: 1px solid black;
    text-align: left;
    position: relative;
  }
  
  #calendar td a {
    vertical-align: top;
    margin-top: 0;
    padding-top: 2px;
  }
  
  #calendar td.today {border: 3px solid black;}
  
  #calendar td ul {
    padding-left: 0;
    top: -3px;
  }

  #calendar th {
    border: 1px solid black;
    vertical-align: top;
    width: 14%;
  }

  #calendar p.day-title { 
    margin-top: 0; 
    margin-bottom: 0;
  }

  #calendar th.mpep_link {
    text-decoration: none;
    font-size: 1em;
    border: none;
  }

  th.cal_move_month a {
    width: 100%;
    display: block;
  }
  
  #calendar th.season_link{
    text-decoration: none;
    font-size: 1em;
    border-style: none;
  }
  main div table#calendar{
    position: relative;
    top: -4em;
    margin-left: 2em;
    width: 90%;
  }

  table.readings_table caption {
    margin-bottom: 1em;
  }

  div.td_link {
    padding-bottom: 50%;
  }
  
  .td-top, .td-bottom { position: relative; }
  .td-top { 
    top: 0;
    min-height: 5em;
  }
  .td-bottom { 
    /* display: none; */
    text-align: left;
    bottom: 0; 
  }
  
  
  td#table-rollup {
    text-align: center;
  }
  
  .cal_day_title {
    width: 99%;
    position: relative;
    float: left;
    margin: 0;
  }
  
  .color_options p{
    text-decoration: none;
    color: black;
  }
  
  table.reading_table th {
    font-size: 1.5em;
    text-align: center;
  }
  
  td.reading_table_td {
    font-size: 1.5em;
    position: relative;
    vertical-align: top;
  }
  

  .day_gold {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_white {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_green {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#f6f9ea+0,8ab66b+50,398235+100 */
    background: #f6f9ea; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f6f9ea 0%, #8ab66b 50%, #398235 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f6f9ea 0%,#8ab66b 50%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f6f9ea 0%,#8ab66b 50%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9ea', endColorstr='#398235',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+1,87e0fd+1,e8f7fc+1,53cbf1+69,53cbf1+69,05abe0+100 */
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #87e0fd 1%, #87e0fd 1%, #e8f7fc 1%, #53cbf1 69%, #53cbf1 69%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #87e0fd 1%,#87e0fd 1%,#e8f7fc 1%,#53cbf1 69%,#53cbf1 69%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #87e0fd 1%,#87e0fd 1%,#e8f7fc 1%,#53cbf1 69%,#53cbf1 69%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_violet {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#f2f2f2+0,c85ec7+54,a849a3+100 */
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f2f2f2 0%, #c85ec7 54%, #a849a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f2f2f2 0%,#c85ec7 54%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f2f2f2 0%,#c85ec7 54%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_rose {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#ffd1e8+0,ef017c+100 */
    background: #ffd1e8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffd1e8 0%, #ef017c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffd1e8 0%,#ef017c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffd1e8 0%,#ef017c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd1e8', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .day_red {
  /* Permalink - use to edit and share this gradient: 
    http://colorzilla.com/gradient-editor/#ffecea+0,cf0404+100 */
    background: #ffecea; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffecea 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffecea 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffecea 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffecea', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  p#say-this {
    position: relative;
    width: 96%;
    overflow: hidden;
    background-color: white;
    box-shadow: -3px 3px 5px #888888;
    margin-left: 0.3em;
  }

  .whowhen {
    position: relative;
    top: -1.2em;
    font-size: 0.8em;
    color: blue;
    margin-left: 1em;
  }

  div#chat-container {
    display: none;
    background-color: linen;
    box-shadow: -6px 6px 10px #888888;
    position: fixed;
    margin-right: 0;
    width: 40%;
    overflow: auto;
    height: 85%;   
    margin-left: 59%;
    z-index: 9;
  }

  #chat-container input {
    margin-left: 0.3em;
  }

  #chat-window-toggle {
    float: right;
  }

  ul.chat_list {
    list-style: none;
    padding-left: 0.5em;
  }
  ul.chat_list li {
    margin-top: 0em;
    margin-bottom: -1.5em;
    line-height: 1em;
    font-family: serif;
    font-size: 0.9em;
  }

  li.reading {
    position: relative;
  }

  li.comments {
    position: relative;
    display: inline;
    background-color: lightgrey;
    top: 5em;
    margin-left: 0em;
  }

  #reading-container {
    margin-left:  2em;
  }
  
  .reading-group{
    position: relative;
    float: left;
  }
  /*
  #calendar td ul{
    list-style-type: none;
  }
  */
  
  #li.reading_item {
    margin-left: 0;
  }
  
  .reading_list {
    font-size: 1.5em;
  }
  
  .modal_header {
    text-align: center;
    margin-left: 37px;
  }
  
  .email-modal {
    width: 600px;
  }
  .email {
      position: absolute;
      z-index: 999;
      height: 15em;
      width: 35em;
      margin-top: 0.5em;
      border: 2px solid darkblue;
      border-radius: 0.5em;
      background-color: linen;
  }
  
  .email-addr {
      width: 20em;
      margin-left: 1em;
      margin-top: 1em;
      padding-left: 1em;
  }
   
  .email-subject {
      width: 90%;
      margin-left: 1em;
      padding-left: 1em;
  } 
  
  .email-msg-addr {
      width: 90%;
      height: 5em;
      margin-left: 1em;
      padding-left: 1em;
  }
  
  .email-button {
      float: left;
      margin-left: 1em;
      padding: 2px 2px;
      font-size: 0.8em;
      display: inline-block;
  }

  .user-username, 
  .user-password {
    width: 90%;
    margin-left: 1em;
    padding-left: 1em;
  }
  
  .modalDialog, 
  .emailModalDialog, 
  .configModalDialog, 
  .humorModalDialog, 
  .loginModalDialog,
  .registerModalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }
  
  .modalDialog:target, 
  .emailModalDialog:target, 
  .configModalDialog:target, 
  .humorModalDialog:target, 
  .loginModalDialog:target,
  .registerModalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  
  .configModalDialog > div, 
  .modalDialog > div, 
  .emailModalDialog > div, 
  .humorModalDialog > div, 
  .loginModalDialog > div,
  .registerModalDialog > div {
    width: 25em;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 30px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradiant(#fff, #999);
    background: -webkit-linear-gradiant(#fff, #999);
    background: -o-linear-gradiant(#fff, #999);  
  }
  
  .modalDialog > div {
    width: 70%;
  }
  .configModalDialog > div {
    padding: 5px 20px 80px 20px;
  }
  /*
  .configModalDialog > div {
    width: 33.2em;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 80px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradiant(#fff, #999);
    background: -webkit-linear-gradiant(#fff, #999);
    background: -o-linear-gradiant(#fff, #999);  
  }
  */
  
   > div {
    width: 33.2em;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 30px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradiant(#fff, #999);
    background: -webkit-linear-gradiant(#fff, #999);
    background: -o-linear-gradiant(#fff, #999);  
  }

  #howTo-text {
    text-align: left;
    height: 90%;
    overflow: scroll;
  }

  #about-text {
    text-align: left;
    height: 90%;
    overflow: scroll;
  }
  
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: relative;
    float: right;
    left: 25px;
    top: -10px;
    width: 4px;
    padding: 3px 14px 2px 11px;
    z-index: 99999999;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    webkit-box-shadow: 1px 1px 3px #000;
    moz-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  
  .close:hover { background: #00d9ff; }
  
  #calendar li, 
  #seasons li, 
  #days_of_week li {
    text-decoration: none;
  }
  #month li {
    display: inline;
    text-decoration: none;
  }

  .m-options1 ul, 
  .m-seasons ul{
    text-align: center;
  }
  .m-options1 ul li, 
  .m-seasons ul li{
    display: inline;
    text-decoration: none;
    padding: 0 5px;
  }
  
  #refl-edit ul{
    margin-left: -2.5em;
  }
  #refl-edit li {
    text-decoration: none;
    margin-left: 0em;
  }
  
  #refl-edit li button {
    width: 80px;
  }

  .reflection-type {
    position: absolute;
    top: 1em;
    left: 8em;
  }
  
  #refl-edit textarea {
    position: absolute;
    margin: 0;
    top: 5em; 
    left: 12em; 
    min-height: 200px;
    max-height: 200px;
    width: 75%;
  }
  
  #preview {
    margin-top: 2.8em;
  }

  h3.reflection-preview {
    position: relative;
    left: 10.2em;
    top: 3em;
  }
  
  #md-text {
    position: absolute;
    margin-top: 4em;
    left: 12em;
    padding: 0.5em;
    border: 1px solid black;
    width: 74%;
  }
  #md-text p{
    text-indent: 4em;
  }
  
  #md-text code {
    font-family: inherit;
  }

  #resources-container {
    min-width: 35em;
    max-width: 80%;
  }

  table.resources { 
    width: 100%;
    font-size: 0.8em;
  }
  th.resource_name { 
    position: relative;
    width: 25%;
    vertical-align: text-top;
  }
  th.resource_description { 
    position: relative;
    width: 25%;
    vertical-align: text-top;
  }
  th.resource_keys { 
    position: relative;
    width: 25%;
    vertical-align: text-top;
  }
  th.resource_info { 
    position: relative;
    font-style: 0.8em;
  }
  th.resource_get { 
    position: relative;
    width: 12.5%;
  }

  .tooltip {
    position: relative;
    /* display: inline-block; */
    transition-delay: 0s background-color;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 9;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.5s;
  }

  blockquote p{
    margin: -1em;
  }
  
  sup {
    color: darkred;
  }
