@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
.flyoutmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
.flyoutmenu ul,
.flyoutmenu ul li,
.flyoutmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flyoutmenu ul {
  position: relative;
  /* z-index: 597; */
  float: left;
}
.flyoutmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
.flyoutmenu ul li.hover,
.flyoutmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
.flyoutmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
.flyoutmenu ul ul li {
  float: none;
}
.flyoutmenu ul ul ul {
  top: -2px;
  right: 0;
}
.flyoutmenu ul li:hover > ul {
  visibility: visible;
}
.flyoutmenu ul ul {
  top: 1px;
  left: 99%;
}
.flyoutmenu ul li {
  float: none;
}
.flyoutmenu ul ul {
  margin-top: 1px;
}
.flyoutmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
.flyoutmenu {
  width: 100px;
  /* background: #333333; */
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 0.9em;
}
.flyoutmenu:before {
  content: '';
  display: block;
}
.flyoutmenu:after {
  content: '';
  display: table;
  clear: both;
}
.flyoutmenu a {
  display: block;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top:  10px;
  color: #ffffff;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-variant: small-caps;
}
.flyoutmenu > ul {
  width: 100px;
}
.flyoutmenu ul ul {
  width: 100px;
}
.flyoutmenu > ul > li > a {
  border-right: 4px solid #1b9bff;
  color: #ffffff;
}
.flyoutmenu > ul > li > a span{
  padding-top: 2px;
}
.flyoutmenu > ul > li > a:hover {
  color: #ffffff;
}
.flyoutmenu > ul > li.active a {
  background: #1b9bff;
}
.flyoutmenu > ul > li a:hover,
.flyoutmenu > ul > li:hover a {
  background: #1b9bff;
}
.flyoutmenu li {
  position: relative;
}
.flyoutmenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  /* top: 25%; */
  right: 15px;
  margin-top: -1px;
}
.flyoutmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.flyoutmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
.flyoutmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.flyoutmenu ul ul {
  border: 1px solid #0082e7;
}
.flyoutmenu ul ul a {
  font-size: 0.9em;
  color: #ffffff;
}
.flyoutmenu ul ul a:hover {
  color: #ffffff;
}
.flyoutmenu ul ul li {
  border-bottom: 1px solid #0082e7;
}
.flyoutmenu ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
.flyoutmenu.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
.flyoutmenu.align-right {
  float: right;
}
.flyoutmenu.align-right li {
  text-align: right;
}
.flyoutmenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
.flyoutmenu.align-right ul li.has-sub > a:after {
  content: none;
}
.flyoutmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
.flyoutmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.flyoutmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
.flyoutmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

#reading-menu li {
  position: relative;
  top: -0.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

#reading-menu button {
  border-color: lightblue;
  border-width: 2px;
  border-radius: 4px;
  background-color: lightgrey;
  padding-top: 0.4em;
}

.passage-section {
  margin: -2em 0;
}

.reading-ul {
  position: relative;
  top: -1.9em;
  margin-left: 1em;
}

