<table>
  <tr>
    <td style= "font-style: italic; padding-right: 3em"><%= gettext "Officiant"%></td>
    <td><%= gettext "Let us bless the Lord"%></td>
  </tr>
  <tr>
    <td class= "italic"><%= gettext "People"%></td>
    <td><%= gettext "Thanks be to God"%></td>
  </tr>
</table>

