<table>
  <tr>
    <td style= "font-style: italic; padding-right: 3em">Officiant</td>
    <td>Let us bless the Lord</td>
  </tr>
  <tr>
    <td class= "italic">People</td>
    <td>Thanks be to God</td>
  </tr>
</table>

