<p class= "vs">Our Father in heaven, hallowed be your Name.</p>
<p class= "vs">Your kingdom come, your will be done, on earth as it is in heaven.</p>
<p class= "vs">Give us today our daily bread.</p>
<p class= "vs">And forgive us our sins as we forgive those who sin against us.</p>
<p class= "vs">Save us from the time of trial, and deliver us from evil.</p>
<p class= "vs">For the kingdom, the power, and the glory are yours,</p>
<p class= "vs_indent">now and forever. Amen.</p>
