<table class= "prayer_table">
  <tr>
    <td class='invitatory-init'><%= gettext "Officiant"%></td>
    <td><%= gettext "The Lord be with you."%></td>
  </tr>
  <tr>
    <td class='invitatory-speaker'><%= gettext "People"%></td>
    <td><%= gettext "And with your spirit."%></td>
  </tr>
  <tr>
    <td class='invitatory-speaker'><%= gettext "Officiant"%></td>
    <td><%= gettext "Let us pray."%></td>
  </tr>
</table>

