<table class= "prayer_table">
  <tr>
    <td class='invitatory-init'>Officiant</td>
    <td>The Lord be with you.</td>
  </tr>
  <tr>
    <td class='invitatory-speaker'>People</td>
    <td>And with your spirit.</td>
  </tr>
  <tr>
    <td class='invitatory-speaker'>Officiant</td>
    <td>Let us pray.</td>
  </tr>
</table>

