<ul class="versicals" style="margin-top: 1em;">
  <li class="speaker">&nbsp;</li>
  <li class="says"><%= gettext "The Word of the Lord"%></li>
  <li class="speaker"><%= gettext "People"%></li>
  <li class="says"><%= gettext "Thanks be to God"%></li>
</ul>
