/*!
 * styles for morning and evening prayer
*/

h3 {
  margin-bottom: 0.2em;
}
.mpep {
  font-family: "Georgia, Times New Roman, Times, serif";
  font-size: 1em;
  margin-left: 2em;
}
@media screen and (min-width: 320px) { .mpep { width: 17em; } }
@media screen and (min-width: 768px) { .mpep { width: 30em; } }
@media screen and (min-width: 940px) { .mpep { width: 32em; } }

.mpep p{
  position: relative;
  margin: 0;
}

.title1 {
  font-size: 1.2em;
  text-align: center;
}

.title2 {
  font-size: 1.1em;
  text-align: center;
}

.italic { 
  font-style: italic;
  font-size: 1em; 
}

.rubric {
  padding: 0.5em 0;
  font-size: 0.8em;
  font-style: italic;
  color: red;
}
.rubric-newline {
  top: -0.6em;
  padding: 0 0 0.5em 0;
  font-size: 0.8em;
  font-style: italic;
  color: red;
}

.rubric_black {
  font-siz: 0.8em;
  font-style: italic;
  color: black;
}

.bible_ref {
  font-size: 0.8em;
  font-style: italic;
  margin: -1em 0 1em 0;
  padding: 0;
}

.section {
  padding-top: 0.5em;
  font-size: 1.0em;
  font-weight: bold;
}

.default {
  font-size: 1.0em;
}

.reading { font-size: 1.0em }

.indent_italic {
  font-size: 1.0em;
  font-style: italic;
  margin: 0 0 0 2em;
  padding: 0;
}

.vspeaker {
  font-style: italic;
  padding: 0 2em 0 0;
}
.vspeaker_says {
  position: absolute;
  left: 10em;
}

.vs {
//  text-indent: 0;
//  font-size: 1em;
//  margin: 0;
//  padding: 0;
  display: none;
}

.vs_indent {
  font-size: 1em;
  margin: 0;
  padding: 0 0 0 2em;
}

.canticle {
  padding-top: 1em;
}

.canticle_title {
  font-size: 1em;
  margin: 0;
  font-weight: bold;
  padding: 0 2em 0 0;
}

.canticle_name {
  font-size: 1em;
  margin: 0;
  font-style: italic;
  padding: 0 2em 0 0;
}

.mercy {
  margin: 0;
  padding: 0;
}

.mercy_italic {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.invitatory tr td {
  vertical-align: top;
}
.invitatory-init {
  font-style: italic;
  padding-right: 3em;
}
.invitatory-speaker {
  font-style: italic;
}

.prayer_table td {
  padding: 0;
}

.ps_vs_num {
  color: blue;
}

.ps_first {
    position: relative;
    padding-left: 1.5em;
    padding-bottom: 0.8;
    text-indent: -1.5em;
}

.ps_second {
    position: relative;
    top: -0.2em;
    padding-left: 4em;
    text-indent: -1.5em;
}