<h2>Edit reflection</h2>

<reflection 
  id="refl"
  data-recno= "<%= @reflection.id %>"
  data-date="<%= @reflection.date %>"
  data-author="<%= @reflection.author %>"
  data-text="<%= @reflection.markdown %>"
  data-published="<%= @reflection.published %>"
>
<div id= "reflection-elm-container"></div>